archivedSource/Lettera22.IPFS/obj/
Lettera22.Common/obj/
Lettera22.Compiler/obj/
Lettera22.HTML/obj/
Lettera22.Linker/obj/
Lettera22.Metadoc/obj/
Lettera22.Parser/obj/
output/Lettera22/bin/lettera22/
ProjectResources/
todolist_exe/
